.main{


  &_container{
    height:100%;
    display: flex;
    flex-direction: column;
    padding:0 1rem;

    .main_flexContainer {
      display: flex;
      flex-direction: column;
      flex:1 0 0;


      .msg_container{
        display: flex;
        flex:1 0 0;
        justify-content: center;

        .msg{
          align-self: center;

          .touchPer{
            font-size:2.2rem;
            color:color($colors, primary);
            text-align: center;
            margin-bottom: 3rem;
          }

          .activity{
            font-size:1.6rem;
            color:color($colors, dark);
          }
        }
      }

      .indicator {
        width: 100%;
        align-self: flex-end;
      }
    }
  }
  #tapIndicator{

  }
}