<ion-header>
<ion-navbar>
    <ion-buttons start>
        <button ion-button icon-only  (click)="getStatusLogs()">
            <ion-icon name="refresh" is-active="false"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>TAPP <ion-badge item-start>v3.0.0</ion-badge></ion-title>
    <ion-buttons end>
    <button ion-button icon-only  (click)="goToSettings()">
        <ion-icon name="settings" is-active="false"></ion-icon>
    </button>
        </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content class="main">
    <div class="main_container">
        <div class="main_flexContainer">

            <div class="msg_container">
                <div class="msg">
                    <div class="touchPer">{{formattedTouchPercentage}}</div>
                    <div class="no-activity" *ngIf="!status">You haven't tapped on today.</div>
                    <div class="activity" *ngIf="status">
                        <div class="activity_on" *ngIf="status.on!=''">You tapped on @  {{status.on}}</div>
                        <div class="activity_off" *ngIf="status.off!=''">You tapped off @ {{status.off}}</div>
                    </div>
                </div>
            </div>

            <div class="indicator">
                <div id="tapIndicator"></div>
            </div>

        </div>
    </div>

  <ion-fab bottom center>
    <button ion-fab  color="dark"  (touchstart)="onTouchStart()" (touchend)="onTouchEnd()">
        <ion-icon name="finger-print" is-active="false"></ion-icon>
    </button>
  </ion-fab>

   <!--<button fab fab-top fab-center large (click)="sendTapRequest()" >
        <ion-icon name="finger-print" is-active="false"></ion-icon>
    </button>-->


</ion-content>
