<ion-header>
<ion-navbar>
  <ion-title>
    Settings
  </ion-title>
</ion-navbar>
</ion-header>

<ion-content class="settings">
  <ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="credentials.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="credentials.password"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button (click)="onSaveSettings()">Save</button>  <button ion-button (click)="onAuthenticate()">Check Credentials</button>
  </div>

</ion-content>
